


// @font-face {
//   font-family: 'Libre Baskerville';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK5gtRqbDAavNCEBluaoIIJc.woff) format('woff');
//   // src: url(http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK5gtRqbDAavNCEBluaoIIJc.woff) format('woff');
// }
// @font-face {
//   font-family: 'Libre Baskerville';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(http://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v5HBV7zGPK_SGwFjOykAVjn3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
//   // src: url(http://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v5HBV7zGPK_SGwFjOykAVjn3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
// }
// @font-face {
//   font-family: 'Libre Baskerville';
//   font-style: italic;
//   font-weight: 400;
//   src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5SO-5kXrvlsa0llgP70kI5w.woff) format('woff');
//   // src: url(http://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5SO-5kXrvlsa0llgP70kI5w.woff) format('woff');
// }


// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
//   // src: url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 600;
//   src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
//   // src: url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
//   // src: url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
// @font-face {
//   font-family: 'Open Sans';
//   font-style: italic;
//   font-weight: 400;
//   src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
//   // src: url(http://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }







$colors: #EDEDEE #D1D1D4 #A6A6AC #797980 #38383C #FF0055 #FF9C00 #FFDF00 #00C775 #0075CA #9843A0;

/* Border box: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after { box-sizing: border-box; }

/* Clear fix: http://davidwalsh.name/css-clear-fix */
@mixin clear {
  &::before, &::after { content: " "; display: table; }
  &::after { clear: both; }
}

@mixin font-1 {
  font-family: 'Open Sans', sans-serif;
}
@mixin font-2 {
  font-family: 'Libre Baskerville', serif;
}

@mixin caption {
  @include font-2;
  color: nth($colors, 4);
  font-style: italic;
  font-size: 9px;
  line-height: 15px;
  letter-spacing: .09em;  // "90px"
}
@mixin line {
  border-width: 0;
  border-color: nth($colors, 3);
  border-style: solid;
}

@mixin trail-off {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

$background-color: nth($colors, 1);
body {
  margin: 0;
  background: $background-color;
  -webkit-font-smoothing: antialiased;
}

$story-width: 240px;
$header-background-color: rgba($background-color, 0.95);
.story {
  margin-top: 30px;
  margin-left: 40px;
  width: $story-width;
  position: absolute;
  top: 0;

  &::after {
    content: " ";
    height: 30px;
    width: $story-width;
    display: block;
    position: fixed;
    top: 0;
    background: $header-background-color;
  }

  .chapter {
    margin-bottom: 80px;
    position: relative;
    padding-top: 180px;
    transition: color 450ms;

    &.current {
      h1 {
        position: fixed;
        top: 30px;
      }
    }
    &:not(.active) {
      color: nth($colors, 2) !important;
    }
  }

  .introduction {
    color: nth($colors, 6);
  }
  .ethnicity {
    color: nth($colors, 7);
  }
  .education {
    color: nth($colors, 8);
  }
  .economic-insecurity {
    color: nth($colors, 9);
  }
  .health {
    color: nth($colors, 10);
  }
  .conclusion {
    color: nth($colors, 11);
  }

  h1 {
    @include font-1;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 5px;
    // font-weight: bold;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;

    @include line;
    border-top-width: 1px;
    margin-top: 0;
    letter-spacing: .03em;  // "30px"
    width: $story-width;
    height: 36px;
    background: $header-background-color;
    box-shadow: $header-background-color 0 0 7px 7px;
    position: absolute;
    top: 0;
    z-index: 1;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  p {
    color: nth($colors, 5);
    @include font-2;
    font-size: 12px;
    line-height: 18px;
    margin: 17px 0 0;
    letter-spacing: .02em;  // "20px"

  }
  .show-me {
    text-transform: uppercase;
    @include font-1;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    letter-spacing: .03em;  // "30px"

    &::after {
      content: "Show me";
      opacity: 0.6;
      transition: opacity 150ms;
    }
    &:hover::after {
      opacity: 1;
    }
    &.current::after {
      content: "As shown";
      opacity: 1;
      cursor: default;
    }
  }
}

.visualization {
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 40px;
  margin-bottom: 30px;
  position: fixed;
  left: 280px;
  right: 0;
  top: 0;
  bottom: 0;

  .header {
    border-top: 1px solid nth($colors, 3);
    padding-top: 5px;
    height: 200px;
    h2 {
      color: nth($colors, 4);
      font-weight: bold;
      font-size: 12px;
      margin-top: 0;
      letter-spacing: .02em;  // "20px"
    }
    @include font-1;
    font-size: 17px;

    .chartNotation {
      float: right;

    }

    .legend {
      text-transform: uppercase;
      color: nth($colors, 3);
      width: 180px;
      margin: 6px;
      font-size: 10px;
      line-height: 10px;
      font-weight: bold;
      letter-spacing: .03em;  // "30px"

      .color {
        @include clear;
      }
      .value {
        width: 11px;
        height: 11px;
        float: left;
        margin: 0 9px 7px 0;
      }
    }

    .share-btns {
      width: 40px;
      float: right;
    }
  }

  .chart-container {
    position: absolute;
    top: 120px;
    bottom: 30px;
    width: 100%;
  }

  .attribution {
    @include caption;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}


.nav {
  position: fixed;
  right: 20px;
  bottom: 20px;
  user-select: none;

  g {
    cursor: pointer;
  }
  g:not(.current):not(:hover) circle.visible {
    fill: nth($colors, 2) !important;
    transition: fill 300ms;
  }
}

//map
$_d: 600ms;
#vectorMap {
  stroke: white;
  stroke-width: 1;
  transition: fill $_d, stroke $_d, fill-opacity $_d, stroke-opacity $_d;

  .county {
    stroke: none;
    fill: #ED8F28;
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  .state{
    fill: #FFF;
    // stroke: nth($colors, 1);
    &.no {
      fill: #FFFFFF;
      stroke: #DDD
    }
    &.sogi {
      fill: #FF0055;
    }
    &.so {
      fill: #FF7D96;
    }
    &.nofill {
      fill-opacity: 0;
      stroke-width: 1.5;
      pointer-events: none;
    }
  }

  .regionLabel {
    fill: #A56623;
    text-anchor: middle;
    stroke: none;
    font-size: 12px;
    font-weight:bold;
    @include font-1;
    text-transform: uppercase;
  }
  .regionPercent {
    text-anchor: middle;
    fill: white;
    stroke: none;
    font-size: 32px;
    @include font-2;
  }
  .regionBubble {
    fill: nth($colors, 7);
    fill-opacity: 0.75;
  }
}

//dropdown
.dropdown {
  width: 275px;

  cursor: pointer;

  margin: -1px 3px 0;
  display: inline-block;
  position: relative;
  height: 22px;

  ul {
    margin: 0;
    padding: 3px 16px 0 7px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    // background-color: rgba($primary, 0.8);
  }

  &::after {
    // content: "▾";
    content: "\25BE";
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 8px;
    z-index: 2;
    // color: $secondary;
  }
  &.collapsed::after {
    color: inherit
  }

  .item {
    @include font-1;
    display: block;
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    text-transform: uppercase;
    padding: 2px 0 5px;
    color: nth($colors, 7);
    // color: $secondary-muted;
    height: 23px;
    transition: all 200ms;
    overflow: hidden;
    // @include text-shadow($primary-accented 1px 1px 2px);

    // &:hover {
    //   color: $secondary;
    // }
    // &.active {
      // color: $tertiary-accented;
    // }
  }

  &.collapsed .item:not(.active) {
    height: 0;
    padding: 0;
    opacity: 0;
  }

}

.trailing-bubble {
  rect {
    fill: #FFF;
    stroke: #FF0055;
    stroke-width: 1px;
  }
  path {
    fill: #FFF;
    stroke: #FF0055;
  }
  text {
    fill: #888;
    stroke: none;
    @include font-1;
  }
  .break{
    stroke: #FF0055;
  }
  .bold{
    font-weight: bold;
  }
  .mainText{
    text-transform: uppercase;
    font-weight: bold;
  }
}

// bar-chart
.chart {
  .row {
    @include font-1;
    font-size: 10px;
    font-weight: bold;
    fill: nth($colors, 3);
    text-transform: uppercase;
    text-anchor: end;
    letter-spacing: .03em;
  }

  .x-axis {
    path {
      fill: none;
      stroke: nth($colors, 3);
      shape-rendering: crispEdges;
    }
    text {
      @include font-1;
      fill: nth($colors, 4);
      font-size: 10px;
      font-weight: bold;
      letter-spacing: .03em;
    }
  }

  .label {
    @include caption;
    font-size: 11px;
    fill: nth($colors, 4);
    letter-spacing: .07em;
  }
}
