


// @font-face {
//   font-family: 'Libre Baskerville';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK5gtRqbDAavNCEBluaoIIJc.woff) format('woff');
//   // src: url(http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK5gtRqbDAavNCEBluaoIIJc.woff) format('woff');
// }
// @font-face {
//   font-family: 'Libre Baskerville';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(http://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v5HBV7zGPK_SGwFjOykAVjn3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
//   // src: url(http://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v5HBV7zGPK_SGwFjOykAVjn3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
// }
// @font-face {
//   font-family: 'Libre Baskerville';
//   font-style: italic;
//   font-weight: 400;
//   src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5SO-5kXrvlsa0llgP70kI5w.woff) format('woff');
//   // src: url(http://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5SO-5kXrvlsa0llgP70kI5w.woff) format('woff');
// }


// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
//   // src: url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 600;
//   src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
//   // src: url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
//   // src: url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
// @font-face {
//   font-family: 'Open Sans';
//   font-style: italic;
//   font-weight: 400;
//   src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
//   // src: url(http://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }







$colors: #EDEDEE #D1D1D4 #A6A6AC #797980 #38383C #FF0055 #FF9C00 #E8CC4D #00C775 #0075CA #9843A0;

/* Border box: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after { box-sizing: border-box; }

/* Clear fix: http://davidwalsh.name/css-clear-fix */
@mixin clear {
  &::before, &::after { content: " "; display: table; }
  &::after { clear: both; }
}

@mixin font-1 {
  font-family: 'Open Sans', sans-serif;
}
@mixin font-2 {
  font-family: 'Libre Baskerville', serif;
}

@mixin caption {
  @include font-2;
  color: nth($colors, 4);
  font-style: italic;
  font-size: 9px;
  line-height: 15px;
  letter-spacing: .09em;
}
@mixin line {
  border-width: 0;
  border-color: nth($colors, 3);
  border-style: solid;
}

@mixin trail-off {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

$background-color: nth($colors, 1);
body {
  margin: 0;
  background: $background-color;
  -webkit-font-smoothing: antialiased;
}

$story-width: 240px;
$header-background-color: rgba($background-color, 0.95);
.story {
  margin-top: 30px;
  margin-left: 40px;
  width: $story-width;
  position: absolute;
  top: 0;
  z-index: 30;

  &::after {
    content: " ";
    height: 30px;
    width: $story-width;
    display: block;
    position: fixed;
    top: 0;
    background: $header-background-color;
  }

  .chapter {
    position: relative;
    padding: 180px 0 80px;
    transition: color 450ms, opacity 450ms;

    opacity: 0.25;

    &.top {
      h1 {
        position: fixed;
        top: 30px;
      }
    }
    &:not(.active) {
      color: nth($colors, 3) !important;
    }

    .caption {
      @include caption;
    }
  }
  .chapter.active {
    opacity: 1;
  }

  .cover {
    color: nth($colors, 10);
  }
  .introduction {
    color: nth($colors, 6);
  }
  .ethnicity {
    color: nth($colors, 7);
  }
  .education {
    color: nth($colors, 8);
  }
  .economic-insecurity {
    color: nth($colors, 9);
  }
  .health {
    color: nth($colors, 10);
  }
  .conclusion {
    color: nth($colors, 11);
  }

  h1 {
    @include font-1;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 5px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;

    @include line;
    border-top-width: 1px;
    margin-top: 0;
    letter-spacing: .03em;
    width: $story-width;
    height: 36px;
    background: $header-background-color;
    // box-shadow: $header-background-color 0 0 7px 7px;
    position: absolute;
    top: 0;
    z-index: 1;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  p {
    @include font-2;
    font-size: 12px;
    line-height: 18px;
    margin: 17px 0 0;
    letter-spacing: .02em;
    color: nth($colors, 5);
  }

  .show-me {
    text-transform: uppercase;
    @include font-1;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    letter-spacing: .03em;

    &::after {
      content: "Show me";
      opacity: 0.5;
      transition: opacity 150ms;
    }
    &:hover::after {
      opacity: 1;
    }
    &.current::after {
      content: "As shown";
      opacity: 1;
      cursor: default;
    }
  }

  .arrow {
    position: fixed;
    bottom: 0;
    width: 240px;
    transition: width 1000ms;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 23px;
    background: $header-background-color;
    z-index: 10;
    &.cover {
      z-index: -1;
    }

    svg {
      fill: none;
      stroke-width: 1.33px;

      stroke-opacity: 0.5;
      transition: stroke-opacity 150ms;
      cursor: pointer;
      &:hover {
        stroke-opacity: 1;
      }
    }
    &.cover svg:not(:hover) {
      animation: pulse 1000ms infinite;
    }
  }

}

@keyframes pulse {
  0% { stroke-opacity: 1; }
  100% { stroke-opacity: 0.2; }
}


$visualization-margin-left: 60px;
.visualization {
  margin-top: 30px;
  margin-left: $visualization-margin-left;
  margin-right: 40px;
  margin-bottom: 30px;
  position: fixed;
  left: 280px;
  right: 0;
  top: 0;
  bottom: 0;

  .header {
    border-top: 1px solid nth($colors, 3);
    padding-top: 5px;
    height: 200px;
    h2 {
      margin-top: 0;
      color: nth($colors, 4);
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: .03em;
      &.cover {
        color: nth($colors, 10);
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: .01em;
      }
    }
    @include font-1;
    font-size: 17px;

    .chartNotation {
      float: right;

    }

    .legend {
      text-transform: uppercase;
      color: nth($colors, 3);
      width: 97px;
      padding: 2px 6px 6px;;
      font-size: 10px;
      line-height: 10px;
      font-weight: bold;
      letter-spacing: .03em;

      &.timeline, &.pies {
        width: 182px;
      }
      &.map {
        width: 147px;
      }
      &.msm {
        width: 136px;
      }

      .color {
        @include clear;
        margin-top: 4px;
      }
      .values {
        float: left;
        margin-right: 9px;
      }
      .value {
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-bottom: 2px;
      }
      &.timeline .value {
        height: 4px;
        margin: 3px 0 6px;
      }
      .label {
        margin-left: 9px;
      }
    }

    .share-btns {
      width: 40px;
      height: 40px;
      float: right;
      text-align: right;

      .tweet {
        transition: background 600ms, opacity 100ms;
        display: inline-block;
        width: 22px;
        height: 22px;
        opacity: 1;
        &:hover {
          opacity: 0.67;
        }
        z-index: 100;
        position: relative;
        cursor: pointer;
      }
    }
  }

  .chart-container {
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 0px;
    right: 0px;
    transition-property: none;
    transition-duration: 450ms;
  }
  .chart-container.cover {
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: -$story-width - $visualization-margin-left;
    right: 0px;
  }

  .attribution {
    @include caption;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}


.credits {
  position: absolute;
  left: 0;
  bottom: 34px;
  width: 280px;

  @include font-1;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: .03em;
  color: nth($colors, 4);
}

.credit-two-n {
  position: absolute;
  left: 0;
  bottom: 28px;
  width: 280px;

  @include font-1;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: .03em;
  color: nth($colors, 3);
  vertical-align: top;

  .two-n-logo {
    background: url(assets/2n_logo.png) -11px -11px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-top: -3px;
    margin-left: 3px;
    cursor: pointer;

    opacity: 0.33;
    transition: opacity 150ms;
    &:hover {
      opacity: 1;
    }
  }
}

.nav {
  position: fixed;
  right: 21px;
  top: 50%;
  user-select: none;

  g {
    cursor: pointer;
  }
  g:not(.current):not(:hover) circle.visible {
    fill: nth($colors, 2) !important;
    transition: fill 300ms;
  }
}

//map
$_d: 600ms;
#vectorMap {
  stroke: white;
  stroke-width: 1;
  transition: fill $_d, stroke $_d, fill-opacity $_d, stroke-opacity $_d;
  y: 90;

  .county {
    stroke: none;
    fill: #ED8F28;
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  .overlayCounty {
    pointer-events: none;
    stroke: "#fff";
    fill-opacity: 0;

  }

  .state{
    fill: #FFF;
    // stroke: nth($colors, 1);
    &.no {
      fill: #FFFFFF;
      stroke: #DDD
    }
    &.sogi {
      fill: #FF0055;
    }
    &.so {
      fill: #FF7D96;
    }
    &.nofill {
      fill-opacity: 0;
      stroke-width: 1.5;
      pointer-events: none;
      stroke: none;
      &.protected {
        stroke: nth($colors, 4);
        stroke-width: 1;
      }
    }
    &.light-fill {
      fill: #E6E6E7;
      stroke: #E6E6E7;
      stroke-width: 1px;
    }
    &.dark-fill {
      fill: #D4D4D7;
      stroke: #D4D4D7;
      stroke-width: 1px;
    }
  }

  .regionBubble {
    fill-opacity: 0.75;
  }

  .nationBackdrop {
    fill: none;
    stroke: nth($colors, 2);
  }

  .stateBackdrop {
    fill: none;
    stroke: nth($colors, 2);
  }
}

.unscaledRegionOverlay{
  .regionLabel {
    // fill: #a47440;
    text-anchor: middle;
    stroke: none;
    font-size: 11px;
    font-weight:bold;
    letter-spacing: .05em;
    @include font-1;
    text-transform: uppercase;
    &.gray {
      fill: nth($colors,4);
    }
  }
  .regionPercent {
    text-anchor: middle;
    fill: white;
    stroke: none;
    font-size: 24px;
    letter-spacing: .03em;
    @include font-2;
  }
  .regionLine{
    stroke: nth($colors, 4);
  }
}


.timeAxis {
  fill: none;
  stroke: black;
  stroke-width: 1;

 .tick {
    @include font-1;
    font-size: 12px;
    stroke: none;
    fill: black;
  }

  .sliderLabel {
    stroke: none;
    fill: #FF0055;
    @include font-1;
    font-size: 12px;
  }

  .handle {
    fill: #FF0055;
    opacity: 1;
    stroke: #fff;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer;
  }
}

//dropdown
.dropdownLabel {
  @include font-2;
  font-style: italic;
  font-size: 11px;
  letter-spacing: 0.07em;
  color: nth($colors, 4);
  padding-left: 0px;
  padding-bottom: 4px;
  padding-top: 90px;
}

.dropdown {
  width: 190px;

  cursor: pointer;
  z-index: 10;
  display: inline-block;
  position: absolute;

  ul {
    margin: 0;
    border: 1px solid nth($colors, 3);
    border-left: none;
    border-right: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &::after {
    content: "";
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 4px;
    z-index: 2;
    border-right: 1px solid nth($colors, 3);
    border-bottom: 1px solid nth($colors, 3);
    width: 8px;
    height: 8px;
    transform: rotate(225deg);
  }
  &.collapsed::after {
    color: inherit;
    transform: rotate(45deg);
    top: 3px;
  }

  .item {
    @include font-1;
    display: block;
    // font-size: 12px;
    font-size: 11px;
    font-weight: bold;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 0px 0 0px;
    color: nth($colors, 4);
    // height: 17px;
    height: 16px;

    transition: all 200ms;
    overflow: hidden;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &.active{
      color: nth($colors, 7);
      opacity: 1;
    }
  }

  &.collapsed .item:not(.active) {
    height: 0;
    padding: 0;
    opacity: 0;
  }

}

.trailing-bubble {
  pointer-events: none;

  rect {
    // fill: #FFF;
    // stroke: nth($colors, 7);
    // stroke-width: 1px;
  }
  path {
    // fill: #FFF;
    // stroke: nth($colors, 7);
  }
  text {
    fill: #888;
    stroke: none;
    @include font-1;
  }
  .bold{
    font-weight: bold;
  }
  .mainText{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    height: 5;
    stroke: none;
  }
  .mainValue{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    height: 5;
    stroke: none;
    text-anchor: end;
    // fill: nth($colors, 7);
  }
  .subText{
    font-weight: bold;
    font-size: 10px;
    pointer-events: none;
    x: 5;
    &.subValue{
      text-anchor: end;
    }
    &.highlight{
      fill: nth($colors, 7)
    }
  }
}


.chart {
  .row {
    @include font-1;
    font-size: 10px;
    font-weight: 700;
    fill: nth($colors, 3);
    text-transform: uppercase;
    text-anchor: end;
    letter-spacing: .05em;
  }

  .x-axis, .y-axis {
    path, line {
      fill: none;
      stroke: nth($colors, 3);
      shape-rendering: crispEdges;
    }
    text {
      @include font-1;
      fill: nth($colors, 4);
      font-size: 10px;
      font-weight: bold;
      letter-spacing: .03em;
    }
    .halfway-line {
      stroke: nth($colors, 2);
    }

  }

  .benchmark {
    stroke-width: 1;
    shape-rendering: crispEdges;
    // mix-blend-mode: multiply;
    text {
      @include font-1;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .label {
    @include caption;
    font-size: 11px;
    fill: nth($colors, 4);
    letter-spacing: .07em;
  }
}


.pie {
  text {
    @include font-1;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .05em;
    font-weight: 600;
    fill: nth($colors, 4);
    transition: fill 150ms;
    &.faded {
      fill: nth($colors, 3);
    }
  }


  // .arc {
  //   transition: fill 150ms;
  // }

  .ethnicity-stats {
    line {
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
    text {
      text-anchor: middle;
    }
    .name {
      fill: nth($colors, 4);
      font-weight: bold;
    }
    .marker {
      @include font-1;
      fill: nth($colors, 3);
      font-size: 9px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;

    }
    .percentage {
      @include font-2;
      fill: nth($colors, 4);
      font-size: 24px;
      letter-spacing: -.01em;
      font-weight: normal;
    }
  }
}


.quote {
  .line {
    @include font-2;
    fill: nth($colors, 4);
    fill-opacity: 0.8;
    font-size: 18px;
    font-style: italic;
    text-anchor: middle;
    letter-spacing: .03em;
  }
  .mark {
    @include font-2;
    fill: nth($colors, 11);
    fill-opacity: 0.7;
    font-size: 72px;
    font-style: italic;
  }
}
.view-report-btn {
  cursor: pointer;
  rect {
    fill: nth($colors, 11);
    transition: fill 100ms;
  }
  &:hover rect {
    fill: lighten(nth($colors, 11), 5%);
  }
  text {
    @include font-1;
    text-anchor: middle;
    text-transform: uppercase;
    fill: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .03em;
  }
}
